body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
  color: #ffffff;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #0b0728;
  border-bottom: 3mm solid #bfa069;
}

.logo {
  font-size: 150%;
  color: #bfa069;
  margin: 0;
}

.navegacion {
  display: flex;
  gap: 5%;
  margin-right: 3%;
}

.enlace-nav {
  text-decoration: none;
  background-color: #bfa069;
  color: #000000;
  padding: 7% 7%;
  border-radius: 20px;
  font-size: 100%;
}

.btn-reservar {
  background-color: #333333;
  color: #ffffff;
  padding: 9% 9%;
  border-radius: 20px;
  text-decoration: none;
  font-size: 100%;
}

.hero {
  background-image: url("../imagenes/header.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-top: 1%;
  margin-bottom: 1%;
}

.texto-hero h2 {
  font-size: 300%;
  color: #000000;
  padding: 1% 2%;
  border-radius: 10px;
}

/* Seccion de servicios */

.servicios {
  background-color: #0b0728;
  border-top: 3mm solid #bfa069;
  border-bottom: 3mm solid #bfa069;
  padding: 8% 0% 10%;
  text-align: center;
}

.titulo-servicios {
  font-size: 250%;
  color: #ffffff;
  margin-bottom: 3%;
}

.contenedor-servicios {
  display: flex;
  gap: 2%;
  justify-content: center;
  flex-wrap: wrap;
}

.servicio-item {
  background-color: #bfa069;
  border-radius: 10px;
  padding: 2%;
  max-width: 15%;
  width: 100%;
  text-align: left;
  color: #000000;
}

.imagen-servicio {
  background-color: #000000;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 5%;
}

.servicio-item h3 {
  margin: 0 0 5% 0;
  font-size: 150%;
}

.servicio-item p {
  margin: 2% 0;
}

/* Formulario de reservas */

.reserva {
  display: flex;
  gap: 5%;
  padding: 5% 2%;
  background-color: #bfa069;
}

.reserva-izquierda {
  width: 45%;
}

.reserva-izquierda h2 {
  font-size: 250%;
  color: #333333;
  margin-bottom: 10px;
}

.reserva-izquierda p {
  color: #333333;
  line-height: 1.5;
}

.reserva-derecha {
  width: 50%;
  background-color: #f8f4e6;
  padding: 3%;
  border-radius: 10px;
}

.paso-reserva {
  background-color: #fff;
  padding: 3%;
  margin-bottom: 5%;
  border-radius: 5px;
}

.paso-reserva h3 {
  font-size: 120%;
  color: #333333;
  margin-bottom: 15px;
}

.opcion-servicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f4e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.opcion-servicio p {
  margin: 0;
  color: #333333;
}

.opcion-servicio small {
  color: #666666;
}

.btn-reserva {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reserva:hover {
  background-color: #444444;
}

/* Seccion de citas de calendly */
.solicitar-citas {
  background-color: #dfdfdf; /* Color dorado */
  padding: 8% 0% 8%;
  text-align: center;
}

.titulo-citas {
  font-size: 150%;
  margin-bottom: 20px;
  color: #000000;
}

.calendly-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Página de reserva*/
.enlace-nav {
  text-decoration: none;
  background-color: #bfa069; /* Color amarillo */
  color: #000000;
  padding: 10% 10%;
  border-radius: 20px;
  font-size: 100%;
  display: inline-block;
}

.formulario-reserva {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
}

.campo-formulario label {
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #333333;
}

.campo-formulario input,
.campo-formulario textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* Animaciones */
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
